{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    {% load cache %}

    {% cache 60 navigation %}

    {% if perms.news.add_post %}
    <a href="{% url 'news_create' %}">Добавить новость</a>
    <a href="{% url 'article_create' %}">Добавить статью</a>
    {% endif %}

    <h1>Все статьи</h1>

    <hr>

    {% endcache %}

    {% if posts %}
        <table>
           <tr>
               <td>Заголовок</td>
               <td>Создан</td>
               <td>Содержание</td>

               {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}
           </tr>

           {% for post in posts %}
           <tr>
               <td><a href="{% url 'post_detail' pk=post.id %}">{{ post.title|censor }}</a></td>
               <td>{{ post.created_at|date:'M d Y H:i' }}</td>
               <td>{{ post.content|truncatechars:20|censor }}</td>

               <td>
                {% if perms.news.change_post and post.post_type == 'news' %}
                    <a href="{% url 'news_update' pk=post.id %}">Изменить</a>
                {% endif %}

                {% if perms.news.delete_post and post.post_type == 'news' %}
                    <a href="{% url 'news_delete' pk=post.id %}">Удалить</a>
                {% endif %}

                {% if perms.news.change_post and post.post_type == 'article' %}
                    <a href="{% url 'article_update' pk=post.id %}">Изменить</a>
                {% endif %}

                {% if perms.news.delete_post and post.post_type == 'article' %}
                    <a href="{% url 'article_delete' pk=post.id %}">Удалить</a>
                {% endif %}
               </td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
      {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}