{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load tz %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts

{% endblock title %}


{% block content %}
    <style>
        body {
        background-color:
        {% if current_time.hour >= 19 or current_time.hour <= 7 %}
            white
        {% else %}
            white
        {% endif %};
        }
    </style>
    {% load cache %}

    {% cache 60 navigation request.LANGUAGE_CODE %}

    {% if perms.news.add_post %}
    <a href="{% url 'news_create' %}">{% trans 'Добавить новость' %}</a>
    <a href="{% url 'article_create' %}">{% trans 'Добавить статью' %}</a>
    {% endif %}

    <h1>{% trans 'Все статьи' %}</h1>
    {% endcache %}

    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>
    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }}
    <br>
    <br>

    {% if posts %}
        <table>
           <tr>
               <td>{% trans 'Заголовок' %}</td>
               <td>{% trans 'Создан' %}</td>
               <td>{% trans 'Содержание' %}</td>

               {% if perms.news.change_post or perms.news.delete_post %}
                <td>{% trans 'Действия' %}</td>
                {% endif %}
           </tr>

           {% for post in posts %}
           <tr>
               <td><a href="{% url 'post_detail' pk=post.id %}">{{ post.title|censor }}</a></td>
               <td>{{ post.created_at|timezone:"Europe/Moscow"|date:"d F Y H:i" }}</td>
               <td>{{ post.content|truncatechars:20|censor }}</td>

               <td>
                {% if perms.news.change_post and post.post_type == 'news' %}
                    <a href="{% url 'news_update' pk=post.id %}">{% trans 'Изменить' %}</a>
                {% endif %}

                {% if perms.news.delete_post and post.post_type == 'news' %}
                    <a href="{% url 'news_delete' pk=post.id %}">{% trans 'Удалить' %}</a>
                {% endif %}

                {% if perms.news.change_post and post.post_type == 'article' %}
                    <a href="{% url 'article_update' pk=post.id %}">{% trans 'Изменить' %}</a>
                {% endif %}

                {% if perms.news.delete_post and post.post_type == 'article' %}
                    <a href="{% url 'article_delete' pk=post.id %}">{% trans 'Удалить' %}</a>
                {% endif %}
               </td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans 'Статей нет!' %}</h2>
   {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
      {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}